.board {
    display: grid;
    grid-template-columns: repeat(45, 25px); /* 10 columns */
    grid-template-rows: repeat(20, 25px); /* 10 rows */
    gap: 1px; /* Gap between tiles */
  }
  .tile {
    background-color: #E9EFF2;
  }