/* .board {
    display: grid;
    grid-template-columns: repeat(45, 25px); 
    grid-template-rows: repeat(20, 25px); 
    background-color: #E9EFF2;
    width: 83%;
    height: 100vh;

    /* gap: 1px;  */


  .board {
    /* display: grid; */
    /* grid-template-columns: 'repeat(25, 1fr)'; */
    /* grid-template-rows: 'repeat(25, 1fr)'; */
    /* background-color: #E9EFF2; */
    /* width: 83%; */
    /* height: 100vh; */
    /**/
    /* gap: 1px;  */
  width: 83%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
  gap: 1px;
  border: 1px solid black;
  }
  .tile {
    background-color: #E9EFF2;
  }