  .board {
  width: 83%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
  gap: 1px;
  background-color: #E9EFF2;
  }
  .tile {
    background-color: #E9EFF2;
  }